<div class="main-wrapper">
  <div class="title-wrapper">
    <h1>Giganci Programowania Chatbot</h1>
  </div>
  
  <div class="sub-wrapper">
    <div class="chat-list-column">
      <ng-container *ngIf="!loadedChats; else loaded">
        <p>Loading...</p>
      </ng-container>
      
      <ng-template #loaded>
        <table mat-table [dataSource]="chats">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="chats-header">
              Chats
              <button matIconButton (click)="unselectChat()">
                <mat-icon>add</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-card appearance="outlined" class="chat-cell" (click)="selectChat(element.id)">
                <mat-card-header class="card-text">{{ element.name }}</mat-card-header>
              </mat-card>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </ng-template>
    </div>
    <div class="chat-window">
      <ng-container>
        <mat-card class="chat-display">
          <mat-card-header>
            <mat-card-title>
              <ng-container *ngIf="!selectedChat; else selectedName">
                Start your chat here or select from the menu
              </ng-container>
              <ng-template #selectedName>
                {{ selectedChat?.name }}
              </ng-template>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="bubbles-and-input">
            <div class="chat-bubbles-display">
              <ng-container *ngIf="selectedChat">
                <ng-container class="msg-pair" *ngFor="let pair of parsedSelectedChat">
                  <div class="user-row">
                    {{ pair.userPrompt.content }}
                  </div>
                  <div class="ai-row">
                    {{ pair.aiReply.content }} {{ pair.aiReply.opinion }}
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <div class="input-wrapper">
              <input class="chat-input" matInput placeholder="Type here..." />
              <button matIconButton class="send-bttn"><mat-icon>send</mat-icon></button>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
  
</div>
