html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

::ng-deep app-root {
  display: block;
  height: 100%;
}

h1 {
  padding: 10px;
}

.main-wrapper {
  display: grid;
  margin: 10px;
  grid-template-rows: 1fr 11fr;
  min-height: 100%;
}

.sub-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.title-wrapper {
  text-align: center;
}

.card-text {
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
  display: block;
}

.chats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.chat-window {
  display: flex;
  height: 100%;
  width: 100%;
}

.chat-display {
  height: 95%;
  width: 100%;
  margin: 10px
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  height: 40px
}

.send-bttn {
  height: 40px;
  margin-left: auto;
}

.chat-input {
  width: 95%;
  margin: 5px;
}

.chat-bubbles-display {
  height: 95%;
}

.bubbles-and-input {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-cell:hover {
  background-color: lightgreen;
}

.user-row {
  background-color: lightblue;
  width: fit-content;
  padding: 10px
}

.ai-row {
  background-color: lightgreen;
  width: fit-content;
  padding: 10px;
}
